{{ partial chapter-header }}

<article>
    <section id="handout">
        <div class="hexagon"></div>
        <h1 tabindex="0">{{ data post.title }}</h1>
        {{ content }}
    </section>
</article>

{{ partial footer }}