{{ partial header }}

<main>
    <section id="landing">
        <div class="landing-container">
            <img class="landing-logo shake" src="static/img/bee.svg" draggable="false" />
            <div>
                <h1 class="landing-title fun">ASBoDBMS</h1>
                <h2 class="landing-subtitle fun">A Short Book on Database Management Systems</h2>
            </div>
        </div>
    </section>


    <!-- INTRODUCTION -->
    <section id="introduction">
        <div class="hexagon"></div>
        <h1 tabindex="0">Introduction</h1>
        <p>
            Welcome to my short book on database management systems! I initially wrote this book as a companion to CSCI 1270 - Database Management Systems at Brown University. If you find any typos or misinformation in this book, please report them to me through the <a href="https://github.com/n-young/db-book">GitHub Repository</a>.
        </p>
        <p>
            You can find a list of the chapters below; I recommend reading them in order, but the chapters are written to be isolated from one another. Enjoy!
        </p>
    </section>


    <!-- CHAPTERS -->
    <section id="chapters">
        <div class="hexagon"></div>
        <h1 tabindex="0">Chapters</h1>

        <table>
            <tr>
                <th>Chapter</th>
            </tr>
            {{ loop chapters.chapters
            <tr>
                <td><a href="/ch/${id}">${title}</a></td>
            </tr>
            }}
        </table>
    </section>

</main>

{{ partial footer }}